body {
    position: relative;
    width: 100%;
    display: block;
    font-family:'Roboto',sans-serif;font-weight:300;
    background-color: rgb(202, 213, 219);
    font-weight: normal;
    font-style: normal;
  }

body > *
{
    margin: auto;
    width: 100%;
    display: block;
    overflow: auto;
}


H1
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
}

#myForm {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEEEE;
    box-shadow: 0 0 15px #999999;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
}

#siteHead
{
    margin: auto;
    display: block;
    width: 100%;
}

#logodiv > img
{
    display: block;
    margin: auto;
}

#logo
{
    margin-left: auto;
    margin-right: auto;
}

#fileInput
{
    width: 26em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#listButtons
{
    display: flex;
    margin: auto;
    width: 30em;
}

#listButtons > *
{
    margin: auto;
}

#logo
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#usnap
{
    display: block;
    width: 20em;
    margin: auto;
}

#storausgabe
{
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
}

input[type=text], select
{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

input[type=text]:hover
{
    box-shadow: 0 0 15px lightblue;
}

#name
{
    margin-left: 10px;
}

.buttton {
    margin-top: 15px;
    text-align: center;
}

.button 
{
    color: #fff !important;
    text-transform: uppercase;
    background: #60a3bc;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    display: inline-block;
    border: none;
}

    
.button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
}

.button:active
{
    background-color: green;
}

.downloadButton 
{
    color: #000 !important;
    text-transform: none;
    background: lightgreen;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    display: inline-block;
    border: none;     
    width: 40%;
    overflow: hidden;
}
        
.downloadButton:hover 
{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
}

.downloadButton:active
{
    background-color: #60a3bc;
}

.deleteButton 
{
    color: #fff !important;
    text-transform: none;
    background: lightsalmon;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    display: inline-block;
    border: none;      
    width: 40%;     
    overflow: hidden;
}
        
.deleteButton:hover 
{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
}  

.deleteButton:active
{
    background-color: #60a3bc;
}        
        
h3
{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    top: 5px;
}

#ausgabe
{
    padding-left: 10px;
    background-color: lightgrey;
    box-shadow: 0 0 5px #999999;
}

#storausgabe
{
    margin-left: 10px;
}